<h1>Add Reservation</h1>
<div class="container">
    <form (ngSubmit)="onSubmit()">
        <pre></pre>
        <div class="form-group">
            <label for="journeyDate"> Journey Date </label><br>
            <input type="date" class="form-control" id="journeyDate" >
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="busIds"> Bus ids</label><br>
            <input type="text" class="form-control" id="busIds" >
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="clientId"> Client id</label><br>
            <input type="text" class="form-control" id="clientId">
        </div>
        <pre></pre>
        <button class="btn btn-success" type="submit"> submit </button>
    </form>
</div>